body {
    background-color: rgb(2, 2, 80);
    padding:40px;
    font-size: 1.2rem;
    font-family: Nunito, Arial, Helvetica, sans-serif;
  }
  
  label,
  h1,
  a {
    color: goldenrod;
  }
  
   p{
    color:black;
    }
  
  
  li {
    float: left;
    margin-top: 10px;
    margin-left: 1rem;
  }
  
  .rightItems {
    float: right;
    margin-right: 1rem;
  }
  
  .signup {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    width:min(500px,90%)
  }
  
  #submit {
    margin-top: 10px;;
    background-color:  goldenrod;
    padding:20px 40px;
    border: none;
    color:white;
    font-weight: 900;
    font-size: clamp(0.8rem, 1rem + 2vw , 1.2rem);
  }
  
  #submit:hover{
   transform: scale(1.1);
  }
  .input-container{
    display: flex;
    flex-direction: column;
    gap:5px;
    
    
  }
  .input-container + .input-container{
    margin-top:10px;
  }
  .input-container > label{
    align-self: flex-start;
  }
  .input-container > input{
    width:100%;
    padding:5px;
    border-radius: 5px;
    border: 1px solid black;
  
  }
  .input-container > input:focus{
    transform: scale(1.05);
  }
  /*-----------------------*/
  