<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Courses</title>
  <link rel="stylesheet" href="courses.css">
  <!-- box icon -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="sidebar">
    <div class="logo_details">
      <i class='bx bx-code-alt'></i>
      <div class="logo_name">
        AHN
      </div>
    </div>
    <ul>
      <li>
        <a href="#" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">
            My Courses
          </span>
        </a>
      </li>
      <li>
        <a href="#">
            <i class='bx bx-user'></i>
          <span class="links_name">
            Profile
          </span>
        </a>
      </li>
      <li>
        <a href="fees.html">
          <i class='bx bx-dollar' ></i>
          <span class="links_name">
            Fees
          </span>
        </a>
      </li>   
      <li>
        <a href="homepage.html">
          <i class='bx bx-heart'></i>
          <span class="links_name">
            Home
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog'></i>
          <span class="links_name">
            My Services
          </span>
        </a>
      </li>
      <li class="login">
        <a href="index.html">
          <span class="links_name login_out">
            Log Out
          </span>
          <i class='bx bx-log-out' id="log_out"></i>
        </a>
      </li>
    </ul>
  </div>
  <!-- End Sideber -->
  <section class="home_section">
    <div class="topbar">
      <div class="toggle">
        <i class='bx bx-menu' id="btn"></i>
      </div>
      <div class="search_wrapper">
        <label>
          <span>
            <i class='bx bx-search'></i>
          </span>
          <input type="search" placeholder="Search Course Name...">
        </label>
      </div>
      
    </div>
    <!-- End Top Bar -->
    <div class="card-boxes">
      <div class="box">
        <div class="right_side">
          <div class="numbers">17</div>
          <div class="box_topic">Registred Hours </div>
        </div>
        
      </div>
      <div class="box">
        <div class="right_side">
          <div class="numbers">6</div>
          <div class="box_topic">Registred Courses</div>
        </div>
       
      </div>
      <div class="box">
        <div class="right_side">
          <div class="numbers">0</div>
          <div class="box_topic">Warnings</div>
        </div>
       
      </div>
      <div class="box">
        <div class="right_side">
          <div class="numbers">8</div>
          <div class="box_topic">Training Weeks</div>
        </div>
       
      </div>
    </div>
    <!-- End Card Boxs -->
    <div class="details">
      <div class="Course_name">
        <div class="card_header">
          <h2>Courses</h2>
        </div>
        <table>
          <thead>
            <tr>
              <td>Course Name</td>
              <td>Credit Hours</td>
              <td>Status</td>
              <td>Drop Request</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Control Engineering</td>
              <td>4</td>
              <td>
                <span class="badge bg_seccuss">
                  Registred
                </span>
              </td>
              <td>
                <span class="badge bg_danger">
                    Drop
                  </span>
              </td>
                </td>
            </tr>
            <tr>
              <td>Mathematics</td>
              <td>3</td>
              <td>
                <span class="badge bg_seccuss">
                  Registred
                </span>
              </td>
              <td>
                <span class="badge bg_danger">
                    Drop
                  </span>
              </td>

            </tr>
            <tr>
              <td>Software Engineering</td>
              <td>4</td>
              <td>
                <span class="badge bg_seccuss">
                  Registred
                </span>
              </td>
              <td>
                <span class="badge bg_danger">
                    Drop
                  </span>
              </td>
            </tr>
            <tr>
              <td>Programming</td>
              <td>2</td>
              <td>
                <span class="badge bg_seccuss">
                  Registred
                </span>
              </td>
              <td>
                <span class="badge bg_danger">
                    Drop
                  </span>
            </tr>
            <tr>
              <td>Operating Systems</td>
              <td>3</td>
              <td>
                <span class="badge bg_seccuss">
                  Registred
                </span>
              </td>
              <td>
                <span class="badge bg_danger">
                    Drop
                  </span>
            </tr>
            <tr>
              <td>Database Systems</td>
              <td>2</td>
              <td>
                <span class="badge bg_seccuss">
                  Registred
                </span>
              </td>
              <td>
                <span class="badge bg_danger">
                    Drop
                  </span>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="Tutors_name">
        <div class="card_header">
          <h2>Course Tutors</h2>
        </div>
        <table>
          <tbody>
            <tr>
              
              <td>
                <h4>Willams Harris</h4>
                <span>Willams@gmail.com</span>
              </td>
            </tr>
            <tr>
              
              <td>
                <h4>Vanessa Tucker</h4>
                <span>Vanessa@gmail.com</span>
              </td>
            </tr>
            <tr>
              
              <td>
                <h4>Sharon Lessma</h4>
                <span>Sharon@gmail.com</span>
              </td>
            </tr>
            <tr>
              
              <td>
                <h4>Sally Mason</h4>
                <span>Sally@gmail.com</span>
              </td>
            </tr>
            <tr>
             
              <td>
                <h4>Alexander Graham</h4>
                <span>Alex@gmail.com</span>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");

    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      // call function
      changeBtn();
    });

    function changeBtn() {
      if(sidebar.classList.contains("open")) {
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else {
        closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      }
    }
  </script>
</body>
</html>